body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
  height: 100vh;
}

.edit {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

.center-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.excalidraw .App-menu_top .buttonList {
  display: flex;
}

.excalidraw-wrapper {
  height: 100vh;
  margin: 0;
  position: relative;
}

:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}
