body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.edit {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

.excalidraw .App-menu_top .buttonList {
  display: flex;
}

.excalidraw-wrapper {
  height: 100vh;
  margin: 0;
  position: relative;
}

:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}
